<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <th:block th:fragment="sidebar">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-success sidebar sidebar-dark accordion"
      id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center"
        th:href="@{/}">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fab fa-connectdevelop"></i>
        </div>
        <div class="sidebar-brand-text mx-3">
          ポケモン情報
        </div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item -->
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/}">
          <i class="far fa-chart-bar"></i>
          <span>ポケモン一覧</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/add}">
          <i class="fas fa-cat"></i>
          <span>ポケモン登録</span>
        </a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0"
          id="sidebarToggle">
        </button>
      </div>

    </ul>
    <!-- End of Sidebar -->
  </th:block>
</body>
</html>
